<p><strong>Sabraw Mendez Solutions Inc: Contact Form Submission</strong></p>
<p><strong>First Name:</strong> <%= @firstName %></p>
<p><strong>Last Name:</strong> <%= @lastName %></p>
<p><strong>Email:</strong> <%= @user_email %></p>
<p><strong>Message:</strong></p>
<p><%= @message %></p>
